*{
  margin: 0;
  padding: 0;
}
.main-content{
  margin-left: 220px;
}

a{
  text-decoration: none;
  color: inherit;
}

.about{
  background-color: #fff;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
}

.button svg {
  height: 24px;
}

.button:hover {
  transform: scale(1.02);
}